<div class="book-card p-1 d-flex flex-column justify-content-between">
  <div class="d-flex justify-content-center">
    <a [routerLink]="['product-details']"><img class="book-thumbnail" [src]="productBook.thumbnailUrl"></a>
  </div>
  <div class="card-content">
    <h4 class="text-truncate">{{productBook.title}}</h4>
    <p class="text-secondary">{{productBook.categories}}</p>
    <button class="btn-theme w-100" (click)="addToCart(productBook)" *ngIf="!isProductInCart">Add to Cart</button>
    <button class="btn-theme w-100" *ngIf="isProductInCart" >Go to Cart</button>
  </div>
</div>
